---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Eczar:500,700|Gentium+Book+Basic:400,400i,700|PT+Mono');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', sans-serif;
}

pre, code {
  font-family: 'PT Mono', monospace;
}

body {
  font-family: 'Gentium Book Basic', serif;
  font-size: 19px;
}
